.App {
  text-align: center;
  background-color: black;
}
.wrapper {
  background-color: #0a0a0a;
  height: 100%;
}
.header h1 {
  top: 20px;
  font-family: "Vibur", sans-serif;
  font-size: 7rem;
  color: #fff;
  text-shadow: 0 0 7px rgb(255, 255, 255), 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(205, 174, 189), 0 0 82px rgb(201, 169, 193),
    0 0 92px rgb(189, 81, 162), 0 0 102px rgb(161, 97, 145),
    0 0 151px rgb(239, 52, 193);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#pagetitle {
  color: rgb(190, 51, 74);
  font-family: cursive;
  font-size: 2rem;
}
